<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/styles/register.css">
    <title>Register</title>
</head>
<body>

<div class = "blur-container" >
    <div class = "main-container">
        <div class="register-image"></div>
        <div class ="register-container">
            <form action = "/register" method="post">
                <p id = "sign-up" >Sign up</p>
                <input type="text" id="email-field" name="email" placeholder="Enter Email" required>
                <input type="password" id="password" name="password" placeholder="Enter Password" required>
                <button type="submit"  class="register-btn">Register</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>