*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-image: url(../images/dense-forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(10.0px);
}

.main-container{
    width: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
}


.login-image{
    width: 50%;
    height: 100%;
    background-image: url(../images/aerial-photo-of-paved-road-through-the-desert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container{
    width : 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
}

#sign-in{
    font-size: clamp(24px, 4vw, 48px);
    text-align: center;
}
input{
    width: 100%;
}

#email-field{
    margin-top: 30%;
    margin-bottom: 35px;
}

.login-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center; /* Vertically align items */
    font-size: 12px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.checkbox-label input[type="checkbox"] {
    transform: scale(1); /* Adjust the scale value as needed */
    margin: 10px;
    cursor: pointer;
}

.login-btn{
    margin-top: 100px;
    width: 100%;
    height:35px;
    background-color: rgb(36, 220, 26);
    border-radius: 10px;
    cursor: pointer;
}

.login-btn:active{
    border:0.2em solid rgb(0, 177, 204); /* here configure as your needs */
}


